<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-slack" version="0.0.2">
<!--
  TODO: Setup Slack API URL whitelist
-->
  <name>Slacker</name>
  <description>A Slack API plugin</description>
  <license>MIT</license>
  <keywords>slack</keywords>
  <repo>https://github.com/InternationalMixMob/CSCI-E-71_IMM_Slacker_Cordova_Plugin.git</repo>
  <engines>
        <engine name="cordova" version=">=5.0.0" />
  </engines>
  <js-module src="www/slacker.js" name="Slacker">
    <clobbers target="Slacker" />
  </js-module>

  <preference name="SLACK_CLIENT_ID"/>
  <preference name="SLACK_CLIENT_SECRET"/>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Slacker">
        <param name="android-package" value="edu.cscie71.imm.slacker.plugin.Slacker"/>
      </feature>
    </config-file>
    <source-file src="src/android/Slacker.java" target-dir="src/edu/cscie71/imm/slacker/plugin" />
    <lib-file src="src/android/libs/Slacker.jar" />
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Slacker">
         <param name="ios-package" value="IMMSlacker" />
      </feature>
      <string name="SlackClientID">$SLACK_CLIENT_ID</string>
      <string name="SlackClientSecret">$SLACK_CLIENT_SECRET</string>
    </config-file>
    <!--
      Placeholder for resources
      <resource-file src="CDVFoo.bundle" />
      <resource-file src="CDVFooViewController.xib" />
    -->
    <header-file src="src/ios/IMMSlacker.h" />
    <source-file src="src/ios/IMMSlacker.m"/>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>$PACKAGE_NAME</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>slacker</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>SlackClientID</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>$SLACK_CLIENT_ID</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>SlackClientSecret</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>$SLACK_CLIENT_SECRET</string>
                </array>
            </dict>
        </array>
    </config-file>

    <!-- iOS9 whitelisting
    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
        <array>
            <string>$PACKAGE_NAME</string>
            <string>$SlackClientID</string>
        </array>
    </config-file>-->

    <!--
      Placeholder for our client lib
    <source-file src="src/ios/IMMSlackerClient.a" framework="true" />
    -->
  </platform>

</plugin>
